@model IEnumerable<HamburgerAppMVC.Areas.Identity.Data.Entities.Concrete.Menu>

@{
    ViewData["Title"] = "Menu Listesi";
}

<h1>Menu Listesi</h1>

<table class="table">
    <thead>
        <tr>
            <th>Menü Adı</th>
            <th>Fiyat</th>
            <th>Açıklama</th>
            <th>Resim</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MenuName</td>
                <td>@item.Price</td>
                <td>@item.Description</td>
                <td><img src="@item.Picture" alt="Menu Resmi" style="width: 100px; height: 100px;" /></td>
            </tr>
        }
    </tbody>
</table>
