       <!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Hakkımızda<br></h2>
        <p><span>Biz Kimiz?</span><span class="description-title">Daha fazla bilgi edinin</span></p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                <img src="~/Images/4.jpg" class="img-fluid mb-4" alt="">
                <div class="book-a-table">
                    <h3>Hayat kısa şimdi hamburgerini sipariş et !</h3>
                </div>
            </div>
            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        HES hamburger olarak tutkusunu lezzetle buluşturan ve damaklarda unutulmaz tatlar bırakan bir ekibiz. 2024 yılında açılan restoranımız, kurulduğu günden bu yana müşteri memnuniyetini ve kaliteli hizmeti birinci önceliğimiz olarak benimsemiştir.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Kalite ve Tazelik</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Çeşitlilik ve Lezzet</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Sıcak ve Samimi Atmosfer</span></li>
                    </ul>
                    <p>
                        Siz de bu ailenin bir parçası olun ve hamburgerin lezzet yolculuğuna bizimle çıkın ! 
                    </p>

                    <div class="position-relative mt-4">
                        <img src="~/Images/5.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>

</section><!-- /About Section -->