        <!-- Chefs Section -->
<section id="chefs" class="chefs section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Şeflerimiz</h2>
        <p><span>Lezzetimizin</span> <span class="description-title">Kahramanları<br></span></p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/UserTema/assets/img/chefs/sum.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://github.com/smyy96"><i class="bi bi-github"></i></a>
                            <a href="https://tr.linkedin.com/in/sumeyyecoskun?trk=people-guest_people_search-card&original_referer=https%3A%2F%2Fwww.linkedin.com%2F"><i class="bi bi-linkedin"></i></a>
                            <a href="https://medium.com/sumeyyecoskun"><i class="bi bi-medium"></i></a>
                            <a href="https://github.com/smyy96"><i class="bi bi-discord"></i></a>
                            <a href="https://www.youtube.com/channel/UCHhdNxVADKQ_qD1hTiptXEg"><i class="bi bi-youtube"></i></a>
                            <a href="https://www.instagram.com/smyy.cskn/"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Sümeyye Coşkun</h4>
                        <span>Fırın Şefi</span>
                        <p>Fırın Şefimiz, her sabah taptaze ekmekler ve tatlılar hazırlayarak güne başlamanızı sağlıyor.</p>
                    </div>
                </div>
            </div><!-- End Chef Team Member -->

            <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/UserTema/assets/img/chefs/eysan.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://x.com/eysantekinsoy"><i class="bi bi-twitter-x"></i></a>
                            <a href="https://www.facebook.com/eysan.tekinsoy.1/"><i class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/eysantekinsoy/"><i class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/eysantekinsoy/"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Eyşan Tekinsoy</h4>
                        <span>Sos Şefi</span>
                        <p>Sos Şefimiz, her yemeğe lezzet katan eşsiz soslar ve et suları hazırlayarak, her öğünün unutulmaz olmasını sağlıyor.</p>
                    </div>
                </div>
            </div><!-- End Chef Team Member -->

            <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/UserTema/assets/img/chefs/hivkar.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/hivdakarahan/"><i class="bi bi-instagram"></i></a>
                            <a href="https://tr.linkedin.com/in/hivdakarahan"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Hivda Karahan</h4>
                        <span>Köfte Şefi</span>
                        <p>Köfte Şefimiz, her gün taze ve lezzetli köfteler hazırlayarak, müşterilerimize en kaliteli et ürünlerinden oluşturulan özel tarifleri sunuyor.</p>
                    </div>
                </div>
            </div><!-- End Chef Team Member -->

        </div>

    </div>

</section><!-- /Chefs Section -->