        <!-- Hero Section -->
<section id="hero" class="hero section">

    <div class="container">
        <div class="row gy-4 justify-content-center justify-content-lg-between">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Lezzetli Hamburgerler ile<br>Hamburger Tutkunuza</h1>
                <p data-aos="fade-up" data-aos-delay="100">Lezzet Katıyoruz!</p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="#book-a-table" class="btn-get-started">Rezervasyon</a>
                    <a href="https://www.youtube.com/watch?v=AJp2pN__yAk" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Hamburgerin Tarihi</span></a>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                <img src="~/Images/slider.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- /Hero Section -->