@using HamburgerAppMVC.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager


<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 class="sitename">HES HAMBURGER</h1>
            <span>.</span>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="#hero" class="active">Giriş<br></a></li>
                <li><a href="#about">Hakkımızda</a></li>
                <li><a href="#menu">Menü</a></li>
                <li><a href="#chefs">Şeflerimiz</a></li>
                <li><a href="#contact">İletişim</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <partial name="_UserLoginPartial.cshtml" />


        @* sepet iconu ekledim SC *@
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="btn-getstarted" href="">Sepet <i class="bi bi-basket-fill" style="margin-left: 8px;"></i></a>
        }
        else
        {
            @* <a class="btn-getstarted" href="">Sepet <i class="bi bi-basket-fill" style="margin-left: 8px;"></i></a> *@
        }

    </div>
</header>