        <!-- Why Us Section -->
<section id="why-us" class="why-us section">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <h3>Neden HES HAMBURGER?</h3>
                    <p>
                        Çünkü lezzet ve kaliteyi bir arada sunuyoruz! En taze malzemelerle hazırladığımız hamburgerlerimiz, her lokmada benzersiz bir tat deneyimi sunuyor.
                    </p>
                    <div class="text-center">
                        <a href="#" class="more-btn"><span>Daha fazla bilgi edinin</span> <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div><!-- End Why Box -->

            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-xl-4">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-clipboard-data"></i>
                            <h4>Memnunuiyet</h4>
                            <p>Her 10 müşteriden 9'u, lezzetli hamburgerlerimizden ve kaliteli hizmetimizden memnun ayrılıyor</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-gem"></i>
                            <h4>Sağlık</h4>
                            <p>%95 taze malzeme kullanımı ile sağlığınıza ve damak zevkinize değer veriyoruz.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-inboxes"></i>
                            <h4>Paketleme</h4>
                            <p>Isıyı ve tazeliği koruyan özel ambalajlarımızla,her bir siparişi özenle paketliyoruz.</p>
                        </div>
                    </div><!-- End Icon Box -->

                </div>
            </div>

        </div>

    </div>

</section><!-- /Why Us Section -->