@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>burada menuler gözükecek ama sadece resimleri login olduktan sonra satın alma butonu olan resimler yüklenecek</p>
</div>
